<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="card" th:fragment="offertable(offers)">
    <div class="card-header">
        <h3 class="card-title">Offer Details</h3>
        <a sec:authorize="hasAuthority('RESTAURANT')" href="#" th:attr="hx-get=@{/offers/add-offer/{page}(page=${currentPage})}" hx-target="#main" hx-swap="innerHTML" class="btn btn-primary d-none d-sm-inline-block ms-auto" data-bs-toggle="modal" data-bs-target="#modal-report">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
            Add Offer
        </a>
    </div>
    <div class="card-body border-bottom py-3">
        <div class="d-flex">
            <a th:href="@{/offers/excel}" class="btn btn-success m-1">CSV</a>
            <a th:href="@{/offers/pdf}" class="btn btn-danger m-1">PDF</a>
            <div class="ms-auto text-secondary">
                Search:
                <div class="ms-2 d-inline-block">
                    <input
                            type="text"
                            class="form-control form-control-sm"
                            aria-label="Search invoice"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable table-striped">
            <thead>
            <tr>
                <th class="col-1">No.</th>
                <th class="col-1">Catagory Name</th>
                <th class="col-1">Subcatagory Name</th>
                <th class="col-1">Offer Name</th>
                <th class="col-2">Offer Discription</th>
                <th class="col-2">Start Date</th>
                <th class="col-2">End Date</th>
                <th class="col-1">Discount(%)</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${offers}">
                <td>
                    <span class="text-secondary" th:text="${offer.id}">1</span>
                </td>
                <td th:text="${offer.categoryName}" >
                    Vegitarian
                </td>
                <td th:text="${offer.subCategoryName}" >
                    South Indian
                </td>
                <td th:text="${offer.offerName}">
                    Festive Offer
                </td>
                <td th:text="${offer.description}">
                    Diwali Offer
                </td>
                <td th:text="${offer.startDate}">
                    11-04-2022
                </td>
                <td th:text="${offer.endDate}">
                    11-04-2022
                </td>
                <td th:text="${offer.discount}">
                    10
                </td>
                <td class="text-center">
                    <a
                            href="#"
                            th:attr="hx-get=@{/offers/update-offer/{id}/{page}(id=${offer.id},page=${currentPage})}"
                            hx-target="#main"
                            hx-swap="innerHTML"
                            class="btn btn-primary btn-icon"
                            aria-label="Button"
                    >
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-pencil"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                        >
                            <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                            />
                            <path
                                    d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"
                            />
                            <path d="M13.5 6.5l4 4" />
                        </svg>
                    </a>
                    <a
                            href="#"
                            th:attr="hx-delete=@{/offers/delete-offer/{id}/{page}(id=${offer.id},page=${currentPage})}"
                            hx-confirm='Are you sure?'
                            hx-target="#main"
                            hx-swap="innerHTML"
                            class="btn btn-danger btn-icon"
                            aria-label="Button"
                    >
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-trash"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                        >
                            <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                            />
                            <path d="M4 7l16 0" />
                            <path d="M10 11l0 6" />
                            <path d="M14 11l0 6" />
                            <path
                                    d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"
                            />
                            <path
                                    d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"
                            />
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-secondary">
            Showing <span th:text="${currentPage*5 - 4}"></span> to <span th:text="${currentPage*5}">8</span> of
            <span th:text="${totalItems}"></span> entries
        </p>
        <ul class="pagination m-0 ms-auto">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled':''">
                <a
                        class="page-link"
                        href="#"
                        tabindex="-1"
                        aria-disabled="true"
                >
                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                    >
                        <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                        ></path>
                        <path d="M15 6l-6 6l6 6"></path>
                    </svg>
                    prev
                </a>
            </li>
            <!--      <li class="page-item active">-->
            <!--        <a class="page-link" href="#">1</a>-->
            <!--      </li>-->
            <li th:each=" pageNumber: ${pageNumbers}" class="page-item" th:classappend="${pageNumber == currentPage} ? 'active':''">
                <a class="page-link" th:attr="hx-get=@{/area/page/{id}(id=${pageNumber})}" hx-target="#main" hx-swap="innerHTML" th:text="${pageNumber}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled':''">
                <a class="page-link"  href="#">
                    next
                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                    >
                        <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                        ></path>
                        <path d="M9 6l6 6l-6 6"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>